* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --blue-color: #68e1fd;
  --green-color: #1cc900;
  --red-color: #fd6868;
  --yellow-color: #febe3d;
  --white-color: #fdffe2;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
}

/* start nav  */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #ccc !important;
}

/* end nav  */

/* start hero  */

.hero-section {
  height: 100vh;
}

.hero-section .left {
  position: absolute;
  top: 3.75rem;
  left: 0;
  width: 45%;
  height: 600px;
  background-color: var(--blue-color);
}

.hero-section .right {
  position: absolute;
  top: -5.3125rem;
  right: 0;
  width: 33%;
  height: 600px;
  background-color: var(--blue-color);
}

@media (max-width: 675px) {
  .hero-section .right {
    z-index: 1 !important;
  }
}

.hero-section .text {
  width: 72%;
  padding: 40px 20px;
  background-color: var(--white-color);
  top: 150px;
  left: 0;
}

@media (max-width: 675px) {
  .hero-section .text {
    width: 100%;
  }
}

.hero-section .text h3 {
  font-size: 30px;
  white-space: nowrap;
}

.hero-section .text p {
  max-width: 600px;
}

.hero-section .hero-image {
  overflow: hidden;
}

.hero-section .hero-image img {
  position: absolute;
  top: 150px;
  right: 40px;
}

@media (max-width: 690px) {
  .hero-section .hero-image img {
    display: none;
  }
}

@media (max-width: 1100px) {
  .hero-section .hero-image img {
    right: -70px;
  }
}

/* end hero  */

/* start perfect-section */

.perfect-section {
  padding: 80px 0;
}

.perfect-section h3 {
  font-size: 40px;
  white-space: wrap;
}

.perfect-section h3 span:first-child {
  position: relative;
  text-align: center;
  margin-right: 60px;
}

.perfect-section h3 span:first-child img {
  position: absolute;
  top: -39px;
}

.perfect-section h3 span:last-child {
  position: relative;
  text-align: center;
  margin-left: 60px;
}

.perfect-section h3 span:last-child img {
  position: absolute;
}

.perfect-section .left p {
  max-width: 600px;
  color: #777;
}

.perfect-section .left span {
  border: 1px solid #ccc;
  border-radius: 31px;
  padding: 10px 20px;
  cursor: pointer;
}

.perfect-section .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 50px;
}

.perfect-section .right div {
  border-radius: 15px;
  padding: 12px 25px;
  font-weight: 400;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
}

.perfect-section .right div:nth-child(1) {
  background-color: var(--yellow-color);
  color: white;
  z-index: 1;
}

.perfect-section .right div:nth-child(2) {
  background-color: var(--white-color);
  transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  margin-right: 7.8125rem;
  z-index: 2;
  margin-top: -5px;
}

.perfect-section .right div:nth-child(3) {
  background-color: var(--green-color);
  color: white;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  margin-left: 2.625rem;
  z-index: 3;
}

.perfect-section .right div:nth-child(4) {
  background-color: var(--blue-color);
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  margin-right: 6.5625rem;
  margin-top: -10px;
  z-index: 1;
}

/* end perfect-section */

/* start crafting */

.crafting {
  padding: 2.1875rem 0;
}

.crafting h3 {
  position: relative;
  font-size: 40px;
}

.crafting h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 25px;
  width: 300px;
  background-color: var(--yellow-color);
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.crafting .text {
  margin: 75px 0 0;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.crafting .text p {
  max-width: 100%;
  padding: 40px 30px;
}

.crafting .text1 p {
  background-color: var(--white-color);
}

.crafting .text2 p {
  background-color: var(--red-color);
}

.crafting .image {
  margin: 55px 0 0;
  display: flex;
  justify-content: center;
}

.crafting .image img {
  width: 350px;
  height: 400px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* end crafting */

/* start portfolio */

.portfolio {
  height: 700px;
  padding: 55px 0;
}

.portfolio .container {
  width: 75%;
}

.portfolio h3 {
  font-size: 35px;
  padding-left: 20px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio .box {
  width: 100px;
  height: 540px;
  background-color: #777;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.portfolio .box:hover {
  width: 500px;
}

.portfolio .box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  /* transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%); */
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 1;
}
/* .portfolio .box:hover::after {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
} */

.portfolio .box img {
  width: 100px;
  height: 540px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.portfolio .box:hover img {
  width: 500px;
}

.portfolio .box .caption {
  color: white;
  width: 200px;
  position: absolute;
  top: 50%;
  /* top: 250%; */
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
}

/* .portfolio .box:hover .caption {
  top: 50%;
} */

.portfolio .box .caption span {
  padding: 5px 20px;
  border: 1px solid #777;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.portfolio .box .caption p {
  color: #777;
}

.portfolio .box .caption a {
  color: white;
}

/* end portfolio */

/* start artists */
.artists {
  margin-top: 20px;
  padding: 55px 0;
  border: none;
}

.artists h3 {
  font-size: 35px;
  padding-left: 20px;
}

.artists .card {
  width: 650px !important;
  min-height: 310px !important;
  cursor: pointer;
  border: none;
}
.artists swiper-slide .card .card-body {
  background-color: #ccc;
}

.artists swiper-slide:hover .card .card-body {
  background-color: var(--yellow-color);
}

.artists .card .card-body {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.artists .card p {
  color: #383636;
}

.artists .card .icons a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  font-size: 22px;
  border: 1px solid #777;
  border-radius: 50%;
}

.artists .card .icons .icon {
  color: #383636;
  font-size: 25px;
}

/* end artists */

/* start swift  */

.swift {
  margin-top: 50px;
  padding: 55px 0;
  background-color: #333;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.swift .text {
  background-color: var(--white-color);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 82px;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
}

.swift .text span:nth-child(1) {
  color: var(--blue-color);
}

.swift .text span:nth-child(3) {
  color: var(--yellow-color);
}

.swift .text span:nth-child(5) {
  color: var(--green-color);
}

.swift .text .dot {
  background-color: #333;
  margin: 15px 15px 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* end swift  */

/* start connect */

.connect {
  margin: 55px auto 0;
  padding: 30px 20px;
  height: 600px;
  max-width: 750px;
}

.connect .container {
  position: relative;
  background-color: var(--yellow-color);
  height: 100%;
  padding: 50px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.connect .container::before {
  content: "Lets Connect";
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 35px;
  white-space: nowrap;
  font-weight: bold;
  font-style: italic;
  z-index: 5;
}
.connect .container::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 90%;
  height: 50px;
  top: -13px;
  left: 50%;
  border-bottom-left-radius: 29%;
  border-bottom-right-radius: 29%;
  border-top-left-radius: 29%;
  border-top-right-radius: 29%;
  z-index: 2;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.connect .container .text {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.connect .container .inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.connect .container .inputs input {
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.connect .container .inputs textarea {
  resize: none;
  height: 150px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.connect .container .inputs input::placeholder {
  color: #000;
}

.connect .container .inputs textarea::placeholder {
  color: #000;
}

.connect .container span {
  width: 180px;
  padding: 10px 20px;
  border: 1px solid #383636;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
}

.connect .container span .fa-arrow-right {
  width: 15px;
  height: 15px;
  margin-left: 8px;
}

/* end connect */

.footer {
  margin-top: 30px;
  height: 100px;
  padding: 30px;
}

.footer .links a {
  color: #333;
  font-size: 18px;
}

.footer .links .icons a {
  margin-right: 10px;
}

.footer .links .icons .icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
